{
	Filter = {
		Bundles = (
			"com.apple.springboard"
		);
		Executables = (
			"CommCenter",
			"CommCenterRootHelper"
		);
		RejectList = (
			"com.local.newdevice",
			"net.kortina.labs.Venmo",
			"xyz.willy.Sileo",
			"org.coolstar.SileoStore",
			"com.saurik.Cydia",
			"xyz.willy.Zebra",
			"com.opa334.Dopamine",
			"com.opa334.TrollStore"
		);
	};
}
