Package: com.local.newdevice
Name: NewDevice
Version: 1.0.0-54
Architecture: iphoneos-arm64
Description: Locale/DeviceToken/OpenUDID, rich ifaddrs, AMG faker export, probe.
Maintainer: Local Dev
Author: Local Dev
Section: Tweaks
Homepage: https://cdn.jsdelivr.net/gh/zhixiongfan2018-web/ios-newdevice/stable/
